<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.project_sda_2022">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.example.project_sda_2022.ViewOrder"
            android:exported="false" />
        <activity
            android:name="com.example.project_sda_2022.OrderConfirmed"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
        <meta-data
            android:name="sqip.SQUARE_APPLICATION_ID"
            android:value="sandbox-sq0idb-v59uv94AJ6ZCWpTLo-o6Qw" />

        <activity
            android:name="com.example.project_sda_2022.AddPayment"
            android:exported="false" />
        <activity
            android:name="com.example.project_sda_2022.CartPayment"
            android:exported="false" />
        <activity
            android:name="com.example.project_sda_2022.Settings"
            android:exported="false" />
        <activity
            android:name="com.example.project_sda_2022.ProductDisplay"
            android:exported="false" />
        <activity android:name="com.example.project_sda_2022.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.project_sda_2022.Login"
            android:exported="false" />
        <activity
            android:name="com.example.project_sda_2022.Register"
            android:exported="false" />
        <activity android:name="com.example.project_sda_2022.ReviewOrder" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>